<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/stylemain.css"/>
    <link type="text/css" rel="stylesheet" href="../static/style.css"/>
    <script src="https://use.typekit.net/hbg8vny.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>Genus</title>
</head>

<body>
    <div class="Nav">
        <table width="100%" border="0"><tbody>
        <tr>
            <th><h1 id="header">WELCOME TO GENUS!</h1></th>
            <th><div id="abtbutton">
                <button class="formbutton" onclick="about()"> About </button>
            </div></th>
        </tr>
        <tr>
            <th><h3 id ="tagline">The Strategic Stock Trading Game</h3></th>
        </tr>
        </tbody></table>
    </div>

    <div class="content" style="height: 880px">
    <table width="100%" border="0">
        <tbody>
        <tr><th>
        <div class="index_form">
        <form action="/start">
        <label class="formlabel" id="sdate" for="start_date">Start date:</label>
        <input class="forminput" type="date" name="start_date" max="{{ yesterday }}" value="1996-04-12" required>
        <br/><br/>
        <label class="formlabel" id="edate" for="end_date">End date:</label>
        <input class="forminput" type="date" name="end_date" max="{{ yesterday }}" value="{{ yesterday }}" required>
        <br/><br/>
        <label class="formlabel" id = "amt" for="money">Initial amount of money:</label>
        <input class="forminput" type="number" name="money" min="0" value="100000" required>
        <br/><br/>
        <input class="formbutton" id = "Startsim" type="Submit" name="mode" value="Start!">
        <!--<input class="formbutton" id = "Challenge" type="Submit" name="mode" value="Challenge Mode">-->
        </form>
        </div></th>
        <th>
        <div class="index_form">
        <form action="/game">
        <label class="formlabel" id="gsdate" for="start_date">Start date:</label>
        <input class="forminput" type="date" name="start_date" max="{{ yesterday }}" value="1996-04-12" required>
        <br/><br/>
        <label class="formlabel" id="gedate" for="end_date">End date:</label>
        <input class="forminput" type="date" name="end_date" max="{{ yesterday }}" value="{{ yesterday }}"required>
        <br/><br/>
        <label class="formlabel" id = "gamt" for="money">Initial amount of money:</label>
        <input class="forminput" type="number" name="money" min="0" value="100000" required>
        <br/><br/>
        <label class="formlabel" id = "gdiff" for="diff">Difficulty:</label>
        <input class="formradio" type="radio" name="diff" value="hard" checked> <p class="formradio">  Hard </p>
        <input class="formradio" type="radio" name="diff" value="medium"> <p class="formradio">  Medium </p>
        <input class="formradio" type="radio" name="diff" value="easy"> <p class="formradio"> Easy </p>
        <br/><br/>
        <!--<input class="formbutton" id = "Startsim" type="Submit" name="mode" value="Start!">-->
        <input class="formbutton" id = "Challenge" type="Submit" name="mode" value="Challenge Mode">
        </form>
        </div></th>
        </tr></tbody>
        </table>

    </div>

    <script>
    function about() {
        alert("About Genus:\n\nWhat is Genus?\n\nGenus is a learning based trading application that helps user explore the realm of investing without the risk of actually spending some real cash.\n\nThe users can choose to invest to pre-determined money or input their own value into our system. After setting the date, and the value. User are more than welcome to experiment however they deem fit.\n\nThe users can select the date using our super functionary calendar system that we call GENU, it detects the the date you are currently on, and does not let you go further. You can also advance by days, weeks, months, years, and even decades! Want to see if you made a fortune buying Apple stocks in 2000? You can find out using GENUS!\n\nWe hope you become the trader you wish to be. Good luck - GENUS team");
    }
    </script>

</body>
</html>