<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/stylemain.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../static/style.css"/>
    <script src="https://use.typekit.net/hbg8vny.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <title>Genus</title>
</head>
    <body>

        <div class="Nav">
            <h1 id="header">WELCOME TO GENUS!</h1>
            <h3 id ="tagline">The Strategic Stock Trading Game</h3>
        </div>

        <div class="content">

            <div>
                <h2> Account Balance: {{ "${:.2f}".format(money) }} </h2>
            </div>
            <div>
                {% if watchlist %}
                    <h3>Watch List:</h3>
                    <ol>
                    <p>
                    {% for s in watchlist %}
                        <li style="display: inline-block">
                            Symbol: {{ s.symbol }},
                            Unit price: {{ "${:.2f}".format(s.last_price) }}
                            <br/>
                            <img src="{{ s.img }}.png" height="250px" width="305px"/>
                        </li>
                    {% endfor %}
                    </ol>
                    </p>
                {% endif %}
            </div>
            <hr>

        <div>
            <h3>Date:</h3>
            <p>{{ date.isoformat() }} {% if date >= end %} ALERT: THIS IS THE ENDING DATE {% endif %}</p>
            <form id="advance" action="/advance">
                Advance:
                <input class="formbutton" type="Submit" name="advance" value="Day">
                <input class="formbutton" type="Submit" name="advance" value="Week">
                <input class="formbutton" type="Submit" name="advance" value="Month">
                <input class="formbutton" type="Submit" name="advance" value="Year">
                <input class="formbutton" type="Submit" name="advance" value="Decade">
            </form>
        </div>
        <hr>
        <div>
            <h3>Stocks owned:</h3>
            <p>
            {% if stock_set %}
                <ol>
                {% for s in stock_set %}
                    <li>
                        Symbol: {{ s.symbol }},
                        Quantity: {{ s.quantity }},
                        Price: {{ "${:.2f}".format(s.last_price) }},
                        Earnings to date: {{ "${:.2f}".format(s.earnings) }}
                    </li>
                {% endfor %}
                </ol>
            {% endif %}
            </p>
        </div>
        <hr>
        <div>

            <h3>Transactions:</h3>
            {% if stocks %}
                <p>
                <ol>
                {% for s in stocks %}
                    <li>
                        Symbol: {{ s.symbol }},
                        Quantity: {{ s.quantity }},
                        Price: {{ "${:.2f}".format(s.init_price) }},
                        Purchase Date: {{ s.purch_date }}
                    </li>
                {% endfor %}
                </ol>
                </p>
            {% endif %}
        </div>
        <hr>
        <div>
            <h3>Control Panel:</h3>
            <form id="stocks" action="/stocks">
                <label class="formlabel" for="symbol">Symbol:</label>
                <input class="forminput" type="text" name="symbol" autofocus required>
                <a href="http://eoddata.com/symbols.aspx"target="_blank"> Extensive list of all symbols</a>
                <br/> <br/> <!--CSS this-->
                <label class="formlabel" for="quantity">Number of Stocks:</label>
                <input class="forminput" type="number" name="quantity" min="0">
                <br/> <br/>
                <input class="formradio" type="radio" name="action" value="watchlist" checked> <p class="formradio">  Watchlist </p>
                <input class="formradio" type="radio" name="action" value="buy"> <p class="formradio">  Buy </p>
                <input class="formradio" type="radio" name="action" value="sell"> <p class="formradio"> Sell </p>
                <br/> <br/>
                <!--<input type="Submit" value="Simulate">-->
                <input class="formbutton" type="Submit" value="Go">
            </form>
        </div>

        </div>

    </body>
</html>