<!DOCTYPE html>
<html>
    <head><title>Stock Game!</title></head>
    <body>
        <p>
            DATE
            <form id="stocks" action="/stocks">
                <label for="symbol">Symbol</label>
                <input type="text" name="symbol"> <br/>
                <label for="amount">#Stocks:</label>
                <input type="text" name="amount"> <br/>
                <input type="radio" name="gender" value="watchlist" checked> Watchlist
                <input type="radio" name="gender" value="buy"> Buy
                <input type="radio" name="gender" value="sell"> Sell
                <input type="Submit" value="Simulate">
                <input type="Submit" value="Go">
            </form>
        </p>
    </body>
</html>