<!DOCTYPE html>
<html>
    <head><title>Stock Game!</title></head>
    <body>
        <p>
            DATE <!-- I need the date! -->
            <form id="stocks" action="/stocks">
                <label for="symbol">Symbol</label>
                <input type="text" name="symbol"> <br/> <br/> <!--CSS this-->
                <label for="quantity">Number of Stocks:</label>
                <input type="text" name="quatity"> <br/> <br/>
                <input type="radio" name="action" value="watchlist" checked> Watchlist
                <input type="radio" name="action" value="buy"> Buy
                <input type="radio" name="action" value="sell"> Sell
                <input type="Submit" value="Simulate">
                <input type="Submit" value="Go">
            </form>
        </p>
    </body>
</html>